.site-wrap__container {
  margin-top: 90px;
}

.site-wrap__container__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  color: #000000;
}
.wrap-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 54px;
  gap: 40px;
}
.wrap-content--box {
  width: 270px;
  height: 370px;
  background: #f3f3f3;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 15px 28px;
}
.wrap-content--box__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #dfbb7f;
  margin-top: 10px;
  text-align: center;
}
.wrap-content--box__title1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #dfbb7f;
    margin-top: 10px;
    text-align: center;
  }
.wrap-content--box__text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #202020;
    max-width: 186px;
    max-height: 48px;
    margin-top: 5px;
  }
  .wrap-content--box__text1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #202020;
    margin-top: 15px;
  }
  @media only screen and (max-width:834px) {
    .site-wrap__container__title {
        font-size: 40px;
      }
      .wrap-content--box {
        width: 184px;
        height: 351px;
        padding: 25px 9px;
      }
      .wrap-content--box__img{
        width: 170px;
      }
      .wrap-content {
        gap: 15px;
      }
      .wrap-content--box__title {
        font-size: 16px;
        margin-top: 11px;
      }
      .wrap-content--box__text{
        font-size: 14px;
        line-height: 21px;
      }
      .wrap-content--box__text1 {
        font-size: 14px;
        line-height: 21px;
        margin-top: -0.2px;
      }
      .wrap-content--box__title1{
        font-size: 16px;
        margin-top: 32px;
        margin-bottom: 7px;
      }
  }